/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: scroll;
}

.navbar {
    background-color: #34495e;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background 0.3s, border-radius 0.3s;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    background-color: #2c3e50;
    border-radius: 20px;
}

.content,
.contentSample {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 20px;
}

.content {
    justify-content: center;
}

.contentSample {
    justify-content: top;
}

header h1 {
    font-size: 3em;
    font-weight: 700;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}

header .subtitle {
    font-size: 1.2em;
    color: #2c3e50;
    margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    header h1 {
        font-size: 2em;
    }

    header .subtitle {
        font-size: 1em;
    }
}

/* Form Services */
.formQuery {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;
}

.no_gap {
    gap: 2;
}

.queries {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 20px;
}

.bottone {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 1em;
}

.formSelezioneQ {
    margin-top: 100px;
    font-size: 1.7em;
    font-weight: bold;
}